.my_btn {
  color: #264e70;
  border-color: #264e70;
  border: 1px solid #264e70;
}

.btn_delete {
  color: #264e70;
  padding-left: 10px;
  padding-right: 10px;
}

.bot_btn {
  justify-content: center;
}
