.my_btn {
  background-color: white;
  color: #004445;
  border-radius: 5px;
  border: 1px solid white;
  opacity: 0.9;
  font-size: 18px;
}

.my_btn_show {
  color: white;
  background-color: #004445;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  opacity: 0.9;
  font-size: 18px;
}

.btn_delete {
  color: #264e70;
  padding-left: 10px;
  padding-right: 10px;
}


