.navbar {
  color: white;
  display: flex;
  background-color: #004445;
  text-align: center;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
