// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  justify-content: center;
  background-color: #badfdb;
  color: #105e62;
  width: 100%;
}

.background {
  background-color: #105e62;
}


.navbar {
  color: #badfdb;
  display: flex;
  justify-content: center;
  background-color: #105e62;
}

