// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  justify-content: center;
  background-color: #00334e;
  color: white;
}


.navbar {
  background-color: white;
  display: flex;
  justify-content: center;

}

